.formulario{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.botonVolver{
    width: 70%;
}

.botones{
    box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
}

.botones:active{
    box-shadow: none;
}
.mensaje{
    width: 20%;
    margin: auto;
    text-align: center;
}

.textarea{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    resize: none;
}
