.contenedor-flexible {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    text-align: center;
}

.contenido {
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
}

body {
    background-color: #8cc8fb;
    background-image: linear-gradient(90deg, #8cc8fb 0%, #a2afe4 100%);
    
}

.imagen {
    height: 240px;
    object-fit: cover;
}
