<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Estancia</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!--Css Personalizado-->
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/inicio.css" />
</head>

<body>
    <nav th:replace="fragments/navbar :: nav"></nav>

    <div class="container">
        <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensaje">
            <div class="card-body">
                <h5 class="card-title">Exito</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <h1 class="title-center my-2 display-5 text-dark">Estancias</h1>

        <div class="contenedor-flexible">

            <div th:each="casa : ${casas}" class="card my-4 contenido">
                <img class="card-img-top imagen" th:if="${casa.imagen != null}" th:src="@{/imagen/__${casa.id}__}"
                 alt="Imagen de la casa">
                <div class="card-body">
                    <h5 class="card-title"
                        th:text="${casa.calle} + ' ' + ${casa.numero} + ', ' + ${casa.ciudad} + ', ' + ${casa.pais}">
                    </h5>
                    <p class="card-text" th:text="'Código postal: ' + ${casa.codPostal}"></p>
                    <p class="card-text" th:text="'Tipo de vivienda: ' + ${casa.tipoVivienda}"></p>
                    <p class="card-text"
                        th:text="'Disponible desde: ' + ${casa.fechaDesde} + ' hasta: ' + ${casa.fechaHasta}"></p>
                    <p class="card-text"
                        th:text="'Estancia mínima: ' + ${casa.minDias} + ' días, estancia máxima: ' + ${casa.maxDias} + ' días.'">
                    </p>
                    <p class="card-text" th:text="'Precio por noche: $' + ${casa.precio}"></p>
                    <a th:if="${session.usuariosession != null}" sec:authorize="hasRole('CLIENTE')"
                        th:href="@{/reserva/registrar/__${casa.id}__}" class="btn btn-primary">Reservar</a>
                    <a class="btn btn-info" th:href="@{/comentario/listar/__${casa.id}__}">Comentarios</a>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>